.component_header {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .component_header h1 {
    border-bottom: 2px solid #fff;
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding-bottom: 10px;
  }